<!DOCTYPE html>
<html>
<head>
    <title>Task 4</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <h2>{{>header}}</h2>
    <div class="welcome"> <h2 class="title">Welcome To The Website</h2></div>
</body>
</html>
