<!DOCTYPE html>
<html>
<head>
    <title>Task 4</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <h2 class="head1">{{title}}</h2>
    <div class="titles">
        <a href="/">Home</a> <a href="/weather">Weather</a>
    </div>
</body>
</html>
